*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sidebar */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  background: #11101d;
}

/* Sidebar logotype */

.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar .logo-details svg {
  font-size: 30px;
  color: #FFF;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}

.sidebar .logo-details .logo-name {
  font-size: 22px;
  font-weight: 600;
  color: #FFF;
}


/* SidebarItems */

.sidebar .nav-links {
  height: 100%;
  padding-top: 30px;
}

.sidebar .nav-links li {
  list-style: none;
  position: relative;
  padding: 2px;
  transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
  background-color: #1d1b31;
}

.sidebar .nav-links li .icon-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.sidebar .nav-links li svg {
  height: 30px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  font-size: 20px;
}

.sidebar .nav-links li a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar .nav-links li a .link-name {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  background: #1d1b31;
  margin-top: -2px;
  /* display: none; */
}

.sidebar .nav-links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3 ease;
}

.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  transition: all 0.4s ease;
  opacity: 0;
  pointer-events: none;
}

.sidebar.close .nav-links li:hover .sub-menu {
  top:0;
  opacity: 1;
  pointer-events: auto;
}

.sidebar .nav-links li .sub-menu .link-name {
  display: none;
}

.sidebar.close .nav-links li .sub-menu .link-name {
  font-size: 18px;
  opacity: 1;
  display: block;
}